extends layout

block content
  form.login
    <label>Password</label>
    input.Password
    span.button.login Login
  form.addinfo
    <label>Choose State</label><br>
    select.stateList
       states = ['', 'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Conneticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
       abbrevs = ['', 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']
       for state in states
         option(value=abbrevs[states.indexOf(state)]) #{state}
    <br>
    <label>Choose Right</label><br>
    select.rightList       
    <br>
    <label>Description</label>
    <textarea style="width: 100%" rows=10 id="Desc"></textarea>
    span.button.add Submit
  ul.rights

block scripts
  script(type='text/javascript')
    $(document).ready(function() {
      $('form.addinfo').hide();

      $('span.button.login').click(function() {
        if (PGN.core.checkPW($('input.Password').val())) {
          $('form.addinfo').show();
          $('form.login').hide();
        } else {
          $('form.addinfo').hide();
          $('form.login').show();
        }
      });

      $('span.button.add').click(function() {        
        PGN.core.clear();
        var inputVal = $('select.stateList').val(),
            desc = $('textarea#Desc').val(),
            right = $('select.rightList').val();

        if (inputVal.length > 0 && desc.length > 0 && right.length > 0) {
          PGN.core.getState(inputVal, desc, right);
        } else {
          $('.content ul.rights').append('Not all required fields are valid.');
        }
      });

      $('select.stateList').change(function () {
        PGN.core.clear();

        var inputVal = $('select.stateList').val();
        PGN.geo.geocode(inputVal, function (response) {
          var params = PGN.geo.parseResp(response[0]);
          PGN.core.getData(params);
        });
        $('.content select.rightList').append(PGN.core.buildRightsList());
      });
    });
